{% extends 'base.html' %}
{% block content %}

<div class="album bg-light">
    <div class="container">

        <div class="row">
            <div class="col-sm-10 text-center pb-4">
                <h2 class="dish_name">{{ dish.name }}</h2>
                <!-- <p class="font-weight-light">{{ dish.dateformat }}</p>  -->
            </div>
            <div class="col-sm-2 text-center pb-4">
                <!-- Delete -->
                <form action="{% url 'dish-delete' dish.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="name" value="{{ dish.id }}">
                    <button type="submit" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Usuń">
                        <i class="material-icons md-48">delete_forever</i>
                    </button>
                </form>
                <!-- Update -->
                <form action="{% url 'dish-update' dish.id %}" method="get" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="name" value="{{ dish.id }}">
                    <button type="submit" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Edytuj">
                        <i class="material-icons md-48">edit</i>
                    </button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6"><img src="{{ dish.photo0.url }}" class="img-fluid rounded"></div>
            <div class="col-sm-6">
                <h5>Składniki:</h5>
                <p class="font-italic">{{ dish.portions }} porcje </p>
                <p>{{ dish.ingredients|linebreaks }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 pt-3">
                <h5>Przepis:</h5>
                <p>{{ dish.description|linebreaks }}</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}