{% extends 'base.html' %}
{% block content %}


    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                {% for danie in dania.all %}
                <div class="col-sm-3">
                    <div class="card-column">
                        <div class="card text-center">
                            <div class="card-body text-center">
                                <h6 class="card-text">{{ danie.name }}</h6>
                                <p class="card-text"><small class="text-muted">{{ danie.dateformat }}</small></p>
                            </div>
                        </div>
                        <img class="card-img-bottom img-fluid" src="{{ danie.photo0.url }}">
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
